@model shop_proj.Models.Tovar

<div id="categories">
    @Html.DropDownList("Category", ViewBag.Category as SelectList, new { id = "category" })

    <select asp-for="ModellId" id="modells" class="form-control" asp-items="@(new SelectList(ViewBag.Modell, "Id","Name"))"></select>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
</div>


